{% extends "global/base.html" %}

{% block head %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'global/css/vagasform.css' %}" />
  <link rel="stylesheet" href="{% static 'global/css/header.css' %}" />

  {% endblock head %}

  {% block body %}

  {% include 'vagas/partials/_header.html' %}

    <h1 class="title">Crie sua vaga</h1>
    <form action="" enctype="multipart/form-data" method="post">
      {% csrf_token %} 
      {% for field in form %}
      <div class="form-content">
        <div class="form-group">
          <label for="{{ label.id_for_label }}">{{ field.label }}</label>
          {{ field }}
        </div>
      </div>
      {% endfor %}
      <button class="btn" type="submit">Send</button>
    </form>

    {% endblock body %}