{% extends "global/base.html" %}

{% block head %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'global/css/userForm.css' %}" />
  <link rel="stylesheet" href="{% static 'global/css/header.css' %}" />

  {% endblock head %}

  {% block body %}

  {% include 'vagas/partials/_header.html' %}

  <h1 class="title">Crie sua conta</h1>

<form 
      action="{{form_action}}"
      method="POST"
    >
    {% csrf_token %}

    {% for field in form %}
      <div class="form-content">
        <div class="form-group">
          <label for="{{ label.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {{ field.errors }}
        </div>
      </div>
    {% endfor %}

      

      <div class="form-content">
        <div class="form-group">
          <button class="btn" type="submit">Send</button>
        </div>
      </div>

    </form>

    {% endblock body %}