{% extends "global/base.html" %}

{% block head %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'global/css/vaga.css' %}" />
  <link rel="stylesheet" href="{% static 'global/css/header.css' %}" />

  {% endblock head %}

  {% block body %}

  {% include 'vagas/partials/_header.html' %}

    <div class="single-job">
        <h1 class="single-job-title">
            {{ vaga.title }}
        </h1>
        
        <p><b>ID:</b> {{ vaga.id }}</p>
        <p><b>Description:</b> {{ vaga.description }}</p>
        <p><b>Creation Date:</b> {{ vaga.date_created }}</p>
        <p><b>Salary:</b> R$ {{ vaga.salary }}</p>
        <p><b>Experience Years:</b> {{ vaga.experience_years }}</p>
        <p><b>Location:</b> {{ vaga.location }}</p>
        <p><b>Company Name:</b> {{ vaga.company_name }}</p>
        <p><b>Company Description:</b> {{ vaga.company_description }}</p>
        <p><b>Company Website:</b> <a href="{{ vaga.company_website }}">{{ vaga.company_website }}</a></p>
        {% comment %} <p><b>Tags:</b> 
            {% for tag in vaga.tags.all %}
                <span class="tag">{{ tag }}</span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p> {% endcomment %}
        

        {% if request.user == vaga.owner %}
        <p><b>Dono:</b> {{ vaga.owner.username }}</p>
          <form action="{% url 'delete' vaga.id %}" method="POST">
              {% csrf_token %}
              <button class="btn-delete" type="submit">Delete</button>
          </form>

          {% else %}

          <form action="" method="POST">
            {% csrf_token %}
            <button class="btn-apply" type="submit">Apply</button>
        </form>

      {% endif %}
    </div>

    {% endblock body %}