{% extends "global/base.html" %}

{% block head %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'global/css/vagas.css' %}" />
  <link rel="stylesheet" href="{% static 'global/css/header.css' %}" />

  {% endblock head %}

  {% block body %}

  {% include 'vagas/partials/_header.html' %}

    <h1>Todas as vagas</h1>
    {% for vaga in vagas %}
    <a class="table-link" href="{% url "vaga" vaga.id %}">

    <section class="vaga">
      <h2 class="title">{{ vaga.title }}</h2>
      <hr />
      <section class="vaga-abstract">
        <p class="salary va">Salário: R${{ vaga.salary }}</p>
        <p class="company_name va">Empresa: {{ vaga.company_name }}</p>
      </section>
      <section class="vaga-option">
        <label for="checkboxInput" class="bookmark">
          <input type="checkbox" id="checkboxInput" />
          <svg
            width="15"
            viewBox="0 0 50 70"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="svgIcon"
          >
            <path
              d="M46 62.0085L46 3.88139L3.99609 3.88139L3.99609 62.0085L24.5 45.5L46 62.0085Z"
              stroke="black"
              stroke-width="7"
            ></path>
          </svg>
        </label>
      </section>
    </section>
  </a>
    {% endfor %}

    {% endblock body %}