{% extends "global/base.html" %}

{% block head %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'global/css/vaga.css' %}" />
  <link rel="stylesheet" href="{% static 'global/css/header.css' %}" />

  {% endblock head %}

  {% block body %}

  {% include 'vagas/partials/_header.html' %}

    <div class="single-job">
        <h1 class="single-job-title">
            {{ vaga.title }}
        </h1>
        
        <p><b>ID:</b> {{ vaga.id }}</p>
        <p><b>Descrição:</b> {{ vaga.description }}</p>
        <p><b>Data de Criação:</b> {{ vaga.date_created }}</p>
        <p><b>Salário:</b> R$ {{ vaga.salary }}</p>
        <p><b>Anos de Experiência:</b> {{ vaga.experience_years }}</p>
        <p><b>Localização:</b> {{ vaga.location }}</p>
        <p><b>Nome da Empresa:</b> {{ vaga.company_name }}</p>
        <p><b>Descrição da Empresa:</b> {{ vaga.company_description }}</p>
        <p><b>Site da Empresa:</b> <a href="{{ vaga.company_website }}">{{ vaga.company_website }}</a></p>
        <p><b>Tags:</b> 
            {% for tag in vaga.tags.all %}
                <span class="tag">{{ tag }}</span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><b>Dono:</b> {{ vaga.owner.username }}</p>

        {% if request.user == vaga.owner %}
          <form action="{% url 'delete' vaga.id %}" method="POST">
              {% csrf_token %}
              <button class="btn-delete" type="submit">Delete</button>
          </form>
      {% endif %}
    </div>

    {% endblock body %}