{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.userway.org/widget.js" data-account="63D8wlAGwf"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diversify</title>
    <link rel="stylesheet" href="{% static 'global/css/global.css' %}" />
    {% block head %}{% endblock head %}
</head>
<body>
    {% block body %}{% endblock body %}

    {% include 'vagas/partials/_vlibras.html' %}
</body>
</html>