h1 {
  text-align: center;
  display: block;
  padding: 40px;
  font-size: 3em;
}

.vaga {
  width: 60%;
  box-shadow: 0px 0px 20px #0000004b;
  border-radius: 10px;
  margin: auto;
  padding: 25px;
  margin-bottom: 30px;
}

.va {
  margin-top: 10px;
}

.title {
  margin: 10px 0px;
}

.salary {
  color: var(--darkColor);
  font-weight: bold;
}

.company_name {
  color: var(--darkColor);
  font-weight: bold;
}

/* From Uiverse.io by vinodjangid07 */
#checkboxInput {
  display: none;
}
.bookmark {
  cursor: pointer;
  background-color: teal;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.svgIcon path {
  stroke-dasharray: 200 0;
  stroke-dashoffset: 0;
  stroke: white;
  fill: #dddddd00;
  transition-delay: 0s;
  transition-duration: 0.5s;
}

#checkboxInput:checked ~ .svgIcon path {
  fill: white;
  animation: bookmark 0.5s linear;
  transition-delay: 0.5s;
}

@keyframes bookmark {
  0% {
    stroke-dasharray: 0 200;
    stroke-dashoffset: 80;
  }
  100% {
    stroke-dasharray: 200 0;
  }
}
