body{
  overflow-y: auto !important;
  justify-content: flex-start !important;
}

.title {
  margin: 30px;
  font-size: 2em; 
  text-align: center; 
}

form {
  columns: 1; 
  width: 90%; 
  max-width: 600px; 
  margin: auto;
}

label {
  margin-bottom: 5px;
  margin-top: 20px;
  display: block;
  font-weight: bolder;
}

input,
textarea {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  min-height: 30px;
  padding: 10px;
}

input:focus,
textarea:focus {
  border: 3px solid var(--mediumColor);
  outline: none; 
}

button {
  border: none;
  background-color: var(--mediumColor);
  margin: 20px auto; 
  color: var(--brColor);
  padding: 10px 20px;
  border-radius: 10px;
  width: 60%; 
  display: block;
}

@media (min-width: 768px) {
  .title {
    font-size: 3em;
  }

  form {
    columns: 2; 
    width: 90%;
    max-width: 1000px;
  }

  button {
    width: 80%;
  }
}
